<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link href="/css/output.css" rel="stylesheet" />
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <title>Go + HTMX + Tailwind</title>
</head>

<body>
  <main>
<div class="heading">
  Hello World
</div>
    <div class="flex flex-row">
      <div class="basis-1/4"> 
        <div class="rounded-sm bg-gray-500">
        <p class="text-white">Menu</p>
        </div>
      </div>
      <div class="basis-3/4">
        <div class="md:container">
          <h1 class="text-3xl">Go + HTMX + Tailwind Example</h1>
          <br />
          <span class="text-xl">Companies</span>
          <div>{{ template "companies.html" . }}</div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>